@model Rehleti.Models.BookChalet
@{
    ViewData["Title"] = "VisaCard";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Rehleti | Visa Card Payment</title>
    <link href="~/Images/LOGO.png" rel="icon">
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/Register and signin/colorlib-regform-13/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="~/Register and signin/colorlib-regform-13/css/style.css">
</head>
<body>
    <div class="main">
        <div class="container">
            <div class="booking-content">
                <div class="booking-image">
                    <img class="booking-img" src="~/Register and signin/colorlib-regform-13/images/visa.jpeg" alt="Booking Image">
                </div>
                <div class="booking-form">
                    <form id="booking-form">
                        <h2>Pay Using Visa</h2>
                        <p>You make a successfully payment with a Visa credit card.</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- JS -->
    <script src="~/Register and signin/colorlib-regform-13/vendor/jquery/jquery.min.js"></script>
    <script src="~/Register and signin/colorlib-regform-13/js/main.js"></script>
</body>
</html>